Presentation/VKeCRM.Portal.Web/Service References/PortalServices/PortalServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PortalServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9000/PortalServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9000/PortalServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9000/PortalServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VKeCRM.Common.Collections" />
      <xsd:import schemaLocation="http://localhost:9000/PortalServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/VKeCRM.Portal.DataTransferObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPortalServices_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IPortalServices_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IPortalServices_GetAllOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrders" />
  </wsdl:message>
  <wsdl:message name="IPortalServices_GetAllOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IPortalServices_SaveOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveOrder" />
  </wsdl:message>
  <wsdl:message name="IPortalServices_SaveOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IPortalServices_SaveMasterDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveMasterDetail" />
  </wsdl:message>
  <wsdl:message name="IPortalServices_SaveMasterDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveMasterDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="IPortalServices">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortalServices/DoWork" message="tns:IPortalServices_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortalServices/DoWorkResponse" message="tns:IPortalServices_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortalServices/GetAllOrders" message="tns:IPortalServices_GetAllOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortalServices/GetAllOrdersResponse" message="tns:IPortalServices_GetAllOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortalServices/SaveOrder" message="tns:IPortalServices_SaveOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortalServices/SaveOrderResponse" message="tns:IPortalServices_SaveOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveMasterDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortalServices/SaveMasterDetail" message="tns:IPortalServices_SaveMasterDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortalServices/SaveMasterDetailResponse" message="tns:IPortalServices_SaveMasterDetail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPortalServices" type="tns:IPortalServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IPortalServices/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <soap:operation soapAction="http://tempuri.org/IPortalServices/GetAllOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveOrder">
      <soap:operation soapAction="http://tempuri.org/IPortalServices/SaveOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMasterDetail">
      <soap:operation soapAction="http://tempuri.org/IPortalServices/SaveMasterDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PortalServices">
    <wsdl:port name="BasicHttpBinding_IPortalServices" binding="tns:BasicHttpBinding_IPortalServices">
      <soap:address location="http://localhost:9000/PortalServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>