Presentation/VKeCRM.Portal.Web/Service References/PortalServices/PortalServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VKeCRM.Common.Collections" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VKeCRM.Common.Collections" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9000/PortalServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/VKeCRM.Portal.DataTransferObjects" />
  <xs:complexType name="VKListOfOrdersM0dLR_PLj">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="VKListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/VKeCRM.Common.Collections" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Orders" Namespace="http://schemas.datacontract.org/2004/07/VKeCRM.Portal.DataTransferObjects" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VKeCRM.Portal.DataTransferObjects" minOccurs="0" name="Items" nillable="true" type="q1:ArrayOfOrders" />
      <xs:element minOccurs="0" name="TotalRecordCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VKListOfOrdersM0dLR_PLj" nillable="true" type="tns:VKListOfOrdersM0dLR_PLj" />
</xs:schema>